@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --background: #e0e0e0;


  button {
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5rem;
  }

  @layer components {
    .example-enter {
      opacity: 0.01;
    }

    .example-enter.example-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    .example-leave {
      opacity: 1;
    }

    .example-leave.example-leave-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}
